<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="videojs_media">
  <rule ref="Drupal"/>
  <rule ref="DrupalPractice"/>
  <!-- Exclude JavaScript/asset directories — PHP sniffs do not apply to JS. -->
  <exclude-pattern>*/components/*</exclude-pattern>
  <exclude-pattern>*/assets/*</exclude-pattern>
</ruleset>
